@section CSS{
     <!-- Custom styles for this page -->
    <link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
}
   @* @model IEnumerable<Client.Models.Supplier>*@
       @model Supplier
@{
    ViewData["Title"] = "Kabag | Pemasok";
    Layout = "_LayoutKabag";

}

@section Sidebar{
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-action="Index">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-boxes"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Pengadaan Barang</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item ">
            <a class="nav-link" asp-action="Index">
                <i class="fa fa-home" aria-hidden="true"></i>
                <span>Halaman Utama</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">


        <!-- Nav Item - Daftar Barang -->
        <li class="nav-item ">
            <a asp-action="Barang" class="nav-link">
                <i class="fa fa-archive" aria-hidden="true"></i>
                <span>Barang</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">


        <!-- Nav Item - Daftar Supplier -->
        <li class="nav-item active">
            <a asp-action="Supplier" class="nav-link">
                <i class="fa fa-industry" aria-hidden="true"></i>
                <span>Pemasok</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">


        <!-- Nav Item - Daftar Satuan -->
        <li class="nav-item">
            <a asp-action="Satuan" class="nav-link">
                <i class="fa fa-hashtag" aria-hidden="true"></i>
                <span>Satuan</span>
            </a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider">


        <!-- Nav Item - Daftar Divisi -->
        <li class="nav-item">
            <a asp-action="Divisi" class="nav-link">
                <i class="fa fa-users" aria-hidden="true"></i>
                <span>Divisi</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

@*        <!-- Nav Item - Riwayat -->
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Riwayat</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">*@


        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
}

 <div class="card shadow mb-4" mt-4>
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Daftar Nama Pemasok</h6>
    </div>
    
        <!-- Button trigger modal insert -->
        @*<a asp-action="CreateSupplier">*@
            <div>
            <button data-toggle="modal" data-target="#insert" type="button" class="btn btn-primary ml-4 mt-2 mb-2">
                Tambah Data Pemasok
            </button>
           @* </div>*@
        </a>

    <!-- Modal Insert Data -->
    <div class="modal fade" id="insert" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Tambah Data Pemasok</h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                        <div class="modal-body">
                            <form asp-action="CreateSupplier">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="form-group">
                                    <label asp-for="Nama" class="control-label">Nama Pemasok</label>
                                        <input asp-for="Nama" id="Nama" class="form-control" />
                                    <span asp-validation-for="Nama" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Alamat" class="control-label">Alamat Pemasok</label>
                                    <input asp-for="Alamat" id="Alamat" class="form-control" />
                                    <span asp-validation-for="Alamat" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Kota"  class="control-label"></label>
                                    <input asp-for="Kota" id="Kota" class="form-control" />
                                    <span asp-validation-for="Kota" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Email" class="control-label"></label>
                                    <input asp-for="Email" id="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Telepon" class="control-label"></label>
                                    <input asp-for="Telepon" id="=Telepon" class="form-control" />
                                    <span asp-validation-for="Telepon" class="text-danger"></span>
                                </div>
                                <div class="form-group row">
                                    <div class="col">
                                        <input onclick="insert()" type="submit" value="Simpan" class="btn btn-success" />
                                            <button type="button" data-dismiss="modal" class="btn btn-danger">Batal</button>
                                    </div>
                                </div>
                            </form>
                            </div>

            </div>
        </div>
    </div>

            <!-- Modal Edit Data -->
            <div class="modal fade" id="edit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Ubah Data Pemasok</h5>

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id = "formedit">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input id="IdUpdt" type="hidden" class="form-control" />

                                <div class="form-group">
                                    <label asp-for="Nama" class="control-label">Nama Pemasok</label>
                                    <input asp-for="Nama" id="NamaUpdt" class="form-control" />
                                    <span asp-validation-for="Nama" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Alamat" class="control-label">Alamat Pemasok</label>
                                    <input asp-for="Alamat" id="AlamatUpdt" class="form-control" />
                                    <span asp-validation-for="Alamat" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Kota" class="control-label"></label>
                                    <input asp-for="Kota" id="KotaUpdt" class="form-control" />
                                    <span asp-validation-for="Kota" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Email" class="control-label"></label>
                                    <input asp-for="Email" id="EmailUpdt" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Telepon" class="control-label"></label>
                                    <input asp-for="Telepon" id="TeleponUpdt" class="form-control" />
                                    <span asp-validation-for="Telepon" class="text-danger"></span>
                                </div>
                                <div class="form-group row">
                                    <div class="col">
                                        <input type="button" onclick="update()" value="Simpan Perubahan" class="btn btn-success" data-dismiss="modal"ismi />
                                        <button type="button" data-dismiss="modal" class="btn btn-danger">Batal</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>

    <div class="card-body ">
                <table class="table table-bordered table-striped" id="MyTableSupplier">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Nama Pemasok</th>
                    <th scope="col">Alamat</th>
                    <th scope="col">Email</th>
                    <th scope="col">Nomor Telepon</th>
                    <th scope="col">Kota</th>
                    <th scope="col">Aksi</th>

                </tr>
            </thead>
            <tbody id="tbodySW">
             
            </tbody>
        </table>
    </div>

</div>

@section Scripts{

        <!-- Page level plugins -->
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>
        <!-- Page level custom scripts -->
    <script src="~/js/demo/datatables-demo.js"></script>
    <script src="~/js/supplier.js">
    </script>


}